/*
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

BODY {
  margin: 0;
  padding: 0;
  background: #123C51;
  color: #FFFFFF;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
}

IMG { border: 0; }

HR {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}

A:link, A:visited {
  color: #0000FF;
  text-decoration: none;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #FF0000;
  text-decoration: none;
}

.site-width {
  width: 1100px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

HEADER {
  background: #07161B;
  color: #FFFFFF;
  border-bottom: 10px solid #23AAE2;
}

.home HEADER {
  background: transparent;
  border-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.home HEADER.sticky {
  position: fixed;
  z-index: 200;
  background: #07161B;
  border-bottom: 10px solid #23AAE2;
}

#waypoint-menu-spacer.sticky { height: 165px; }

HEADER .site-width {
  width: 1130px;
  position: relative;
}

#logo {
  display: inline-block;
  height: 113px;
  margin: 23px 0 0 15px;
}

#logo IMG {
  max-height: 100%;
  width: auto;
}

HEADER .right {
  float: right;
  margin-top: 50px;
}

HEADER .right .call {
  padding-right: 15px;
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

HEADER .right .call SPAN {
  display: inline-block;
  padding-left: 0.25em;
  font-size: 187.5%;
  line-height: 1em;
  letter-spacing: 0.1em;
  color: #23AAE2;
}

HEADER .right .call SPAN A { color: #23AAE2; }

#toggle-menu,
LABEL[for="toggle-menu"] {
  display: none;
}

HEADER .right UL {
  margin: 1.5em 0 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

HEADER .right UL LI {
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.9em 15px;
  position: relative;
}

HEADER .right UL LI:first-of-type { margin-left: 0; }

HEADER .right UL LI A:link,
HEADER .right UL LI A:visited {
  color: #FFFFFF;
}

HEADER .right UL LI:hover > A,
HEADER .right UL LI A:hover,
HEADER .right UL LI A:active {
  color: #23AAE2;
}

HEADER .right UL LI UL {
  display: none;
  margin-top: 0;
  padding: 0.25em 15px;
  font-weight: 500;
  text-transform: none;
  position: absolute;
  top: 75%;
  left: 0;
  z-index: 105;
  background: #07161B;
  text-align: left;
}

HEADER .right UL LI:hover UL {
  display: block;
}

HEADER .right UL LI UL LI {
  margin: 0.25em 0;
  padding: 0;
}

HEADER .right UL LI#menu-lookup {
  position: static;
  color: #F9EF57;
}

HEADER .right UL LI#menu-lookup LABEL[for="toggle-lookup"]:hover {
  color: #23AAE2;
}

HEADER .right UL LI#menu-lookup.ml-active {
  background: url(../images/grid-background.png) bottom right;
}

#toggle-lookup,
#lookup { display: none; }

#toggle-lookup + LABEL { cursor: pointer; }

#lookup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 102;
  width: 100%;
  background: url(../images/grid-background.png) top right;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}

#home-lookup {
  background: url(../images/grid-background.png) top right;
  padding: 45px 0 0;
  position: relative;
}

#home-lookup:before {
  content: url(../images/trim.png);
  position: absolute;
  top: 0;
  left: calc(50% - 700px);
  z-index: 101;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#home-lookup:after {
  content: url(../images/trim.png);
  position: absolute;
  bottom: 0;
  right: calc(50% - 700px);
  z-index: 101;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

#home-lookup .site-width { position: relative; }

#home-lookup H2 {
  margin: 0 0 0.75em;
  color: #23AAE2;
  font-weight: 700;
  font-size: 36px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#toggle-lookup:checked + LABEL + #lookup { display: block; }

#find-part { margin: 41px 30px 63px; }

#home-find-part { margin-bottom: 100px; }

.lookup-form {
  color: #F9EF57;
  font-weight: 400;
  font-size: 13px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
}

.lookup-form .select-man {
  display: inline-block;
  width: 23.63%;
  margin-right: 3%;
}

.lookup-form .select-mod {
  display: inline-block;
  width: 19.09%;
  margin-right: 3%;
}

.lookup-form .select-ts {
  display: inline-block;
  width: 25%;
}

.lookup-form LABEL { display: block; padding-bottom: 0.5em; }

.lookup-form .select {
  position: relative;
  display: block;
  width: 100%;
  height: 45px;
  overflow: hidden;
  font-size: 28px;
}

.lookup-form .select.disabled:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.lookup-form .select.disabled SELECT { cursor: default; }

.lookup-form .select SELECT {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
  border: 0 !important;
  background: #FFFFFF;
  background-image: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.7em;
  color: #424242;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.lookup-form .select SELECT::-ms-expand { display: none; }

.lookup-form .select::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 45px;
  background: #A1A1A1 url(../images/select-arrow.png) no-repeat center center;
  text-align: center;
  pointer-events: none;
}

.lookup-form .select SELECT OPTION { text-transform: none; } /* Maybe some day.... */

.find-my-part {
  position: absolute;
  right: 0;
  bottom: -5px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  padding: 0.9em 1.1em 0.9em 1.2em;
  background: #F9EF57;
  color: #123C51;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.find-my-part:disabled { cursor: default; }

.find-my-part:disabled:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.find-my-part:hover {
  background: #23AAE2;
  color: #F9EF57;
}

.find-my-part:hover:disabled {
  background: #F9EF57;
  color: #123C51;
}

#home-lookup:not(.no-result):after { content: ""; }

#home-lookup.no-result .find-part-results { display: none; }

.find-part-results {
  padding: 60px 0;
  background: #FFFFFF;
  color: #8E8E8E;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

#home-lookup .find-part-results:after {
  content: url(../images/trim.png);
  position: absolute;
  top: 0;
  right: calc(50% - 700px);
  z-index: 5;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.find-part-results.part-found {
  background-image: linear-gradient(115deg, #FFFFFF 47%, #8ED2EE 47%);
}

.find-part-results > DIV { display: flex; align-items: center; }

#home-find-part-results.find-part-results > DIV {
  margin: 0 auto;
  width: 1100px;
}

.find-part-results > DIV > DIV {
  width: 25%;
  line-height: 1.3em;
}

.find-part-results > DIV > DIV:first-of-type,
.find-part-results > DIV > DIV:last-of-type {
  width: 37.5%;
  box-sizing: border-box;
  padding: 0 15px;
  color: #123C51;
  font-weight: 800;
  font-size: 43px;
  line-height: 1.05em;
  letter-spacing: 0.02em;
  text-shadow: 0 0 22px rgba(0,0,0,0.38);
  margin-bottom: 0.2em;
}

.find-part-results H1 {
  margin: 0 0 0.15em;
  color: #123C51;
  font-weight: 800;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-shadow: 0 0 22px rgba(0,0,0,0.38);
}

.find-part-results A:link,
.find-part-results A:visited {
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.85em 2.4em;
  background: #F9EF57;
  color: #123C51 !important;
  font-weight: 700;
  font-size: 27.56px;
  line-height: 1em;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
}

.find-part-results A:hover,
.find-part-results A:active {
  background: #123C51;
  color: #F9EF57 !important;
}

#home-hero {
  padding: 240px 0 125px;
  background: url(../images/home-header.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#home-hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 50%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#home-hero .text {
  display: inline-block;
  vertical-align: top;
  width: 53%;
  margin-right: 10%;
  box-sizing: border-box;
  padding: 4% 3% 4% 4%;
  background: rgba(0,20,40,0.9);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.75em;
  letter-spacing: 0.1em;
  position: relative;
}

#home-hero .text:before {
  content: url(../images/trim.png);
  position: absolute;
  top: 0;
  left: 5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 13px;
  line-height: 13px;
}

#home-hero .text:after {
  content: url(../images/trim.png);
  position: absolute;
  bottom: 0;
  right: 5%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  height: 13px;
  line-height: 13px;
}

#home-hero .text H1 {
  margin: 0 0 0.2em;
  color: #23AAE2;
  font-weight: 900;
  font-size: 72px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#home-hero .couplings {
  display: inline-block;
  vertical-align: top;
  width: 35.63%;
}

#home-hero .couplings > DIV {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

#home-hero .couplings > DIV:before {
  display: block;
  content: "";
  padding-top: 63.77%;
}

#home-hero .couplings > DIV:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle closest-side, rgba(255,255,255,1), transparent);
}

#home-hero .couplings > DIV:first-of-type { background-size: auto 90%; }
#home-hero .couplings > DIV:last-of-type { background-size: 85% auto; margin-top: 1em; }

#home-hero .couplings A:link,
#home-hero .couplings A:visited {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 1.2em 1em 1em;
  background: #F9EF57;
  color: #123C51;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 22px 0 rgba(0,0,0,0.55);
  white-space: nowrap;
}

#home-hero .couplings A:after {
  content: "\f0da";
  font-family: "FontAwesome";
  padding-left: 0.5em;
}

#home-hero .couplings A:hover,
#home-hero .couplings A:active {
  background: #123C51;
  color: #F9EF57;
}

#home-blog .cycle-slide { pointer-events: none; }

#home-blog .cycle-slide:link,
#home-blog .cycle-slide:active {
  color: #FFFFFF;
  transition: color 0.5s;
}

#home-blog .cycle-slide:hover,
#home-blog .cycle-slide:visited {
  color: #23AAE2;
}

#home-blog .cycle-slide > DIV {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#home-blog .cycle-slide > DIV:before {
  content: "";
  display: block;
  padding-top: 100%;
  background-image: linear-gradient(to top, #000000, transparent 50%);
}

#home-blog .cycle-slide > DIV:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,20,40,0.8);
  transition: opacity 1s;
}

#home-blog .cycle-slide .title {
  position: absolute;
  left: 8%;
  bottom: calc(8% + 0.7em);
  z-index: 3;
  opacity: 0;
  transition: opacity 1s;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 84%;
  white-space: pre-wrap;
}

#home-blog .cycle-slide .author {
  position: absolute;
  left: 8%;
  bottom: 8%;
  z-index: 3;
  opacity: 0;
  transition: opacity 1s;
  font-style: italic;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#home-blog .cycle-slide-active + .cycle-slide,
#home-blog .cycle-slide-active + .cycle-slide + .cycle-slide {
  pointer-events: auto;
}

#home-blog .cycle-slide-active + .cycle-slide > DIV:after,
#home-blog .cycle-slide-active + .cycle-slide + .cycle-slide > DIV:after {
  background: rgba(0,20,40,0.3);
}

#home-blog .cycle-slide-active + .cycle-slide .title,
#home-blog .cycle-slide-active + .cycle-slide .author,
#home-blog .cycle-slide-active + .cycle-slide + .cycle-slide .title,
#home-blog .cycle-slide-active + .cycle-slide + .cycle-slide .author {
  opacity: 1;
}

#home-blog #prev,
#home-blog #next {
  position: absolute;
  z-index: 100;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15vw;
  color: #23AAE2;
  transition: color 0.2s;
  cursor: pointer;
}

#home-blog #prev { left: 15%; }
#home-blog #next { right: 15%; }

#home-blog #prev:hover,
#home-blog #next:hover { color: #F9EF57; }



FOOTER .site-width {
  display: flex;
  align-items: center;
  padding: 4em 0;
}

FOOTER .logo {
  width: 249px;
  margin-right: 4%;
}

FOOTER .logo IMG {
  max-width: 100%;
  height: auto;
}

FOOTER .address {
  width: 46%;
  letter-spacing: 0.15em;
  line-height: 1.8em;
}

FOOTER .social {
  width: 27.26%;
  text-align: right;
}

FOOTER .social A:link,
FOOTER .social A:visited {
  color: #FFFFFF;
  margin-left: 10px;
}

FOOTER .social A:hover,
FOOTER .social A:active {
  color: #23AAE2;
}

FOOTER .social .fa {
  font-size: 30px;
}

FOOTER .social A[href^="tel:"] {
  display: inline-block;
  margin-top: 0.5em;
  font-size: 21px;
  line-height: 1em;
  letter-spacing: 0.2em;
}

FOOTER .social A[href^="tel:"]:hover,
FOOTER .social A[href^="tel:"]:active {
  color: #FFFFFF;
}

#copyright {
  background: #222222;
  padding: 4em 0;
  color: #D2D2D2;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}




@media only screen and (max-width: 1440px) {
  #home-lookup:before { left: 2%; }
  #home-lookup:after,
  #home-lookup .find-part-results:after { right: 2%; }
}

@media only screen and (max-width: 1150px) {
  .site-width,
  HEADER .site-width,
  #home-find-part-results.find-part-results > DIV { width: 96%; }

  #logo { margin-left: 0; }

  #find-part { margin: 41px 2% 63px; }

  .find-part-results { font-size: 1.9vw; }

  .find-part-results > DIV > DIV:first-of-type,
  .find-part-results > DIV > DIV:last-of-type {
    font-size: 189%;
  }
}

@media only screen and (max-width: 1100px) {
  #home-hero .text H1 { font-size: 6.5vw; }
}

@media only screen and (max-width: 1000px) {
  HEADER .right UL LI { margin-left: 0; }
  
  .lookup-form .select-man,
  .lookup-form .select-mod,
  .lookup-form .select-ts { width: 21.5%; }
}

@media only screen and (max-width: 900px) {
  HEADER .right { margin-top: 20px; width: 59%; }

  HEADER .right UL { margin-top: 0.9em; text-align: right; }

  HEADER .right UL LI:first-of-type,
  HEADER .right UL LI:nth-of-type(2) { padding-bottom: 0.2em; }

  HEADER .right UL LI UL { top: 100%; }

  #menu-lookup { text-align: left; }

  .find-my-part { font-size: 2.2vw; bottom: 0; min-height: 49px; }

  #home-blog .cycle-slide { pointer-events: auto; }
  #home-blog .cycle-slide > DIV:after,
  #home-blog .cycle-slide-active > DIV:after { background: rgba(0,20,40,0.3); }
  
  #home-blog .cycle-slide .title,
  #home-blog .cycle-slide .author,
  #home-blog .cycle-slide-active .title,
  #home-blog .cycle-slide-active .author {
    opacity: 1;
  }

  #home-blog #prev { left: 2%; }
  #home-blog #next { right: 2%; }
}

@media only screen and (max-width: 800px) {
  #home-hero .text { width: 100%; margin-right: 0; }

  #home-hero .text H1 { font-size: 8.8vw; }

  #home-hero .couplings { width: 100%; }

  #home-hero .couplings > DIV {
    margin-top: 2em;
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  #home-hero .couplings > DIV:last-of-type { margin-top: 2em; }

  #home-hero .couplings A:link,
  #home-hero .couplings A:visited {
    font-size: 1.75vw;
  }

  FOOTER .site-width { flex-wrap: wrap; }

  FOOTER .logo {
    width: 100%;
    margin: 0 0 1em 0;
    height: 124px;
  }

  FOOTER .logo IMG {
    max-height: 100%;
    width: auto;
  }

  FOOTER .address { width: 60%; }
  FOOTER .social { width: 40%; }
}

@media only screen and (max-width: 700px) {
  HEADER .site-width { position: static; }

  #logo { position: relative; z-index: 101; margin-bottom: 15px; }

  HEADER .right .call { margin-top: 10px; padding-right: 0; position: relative; z-index: 101; }

  LABEL[for="toggle-menu"] {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 49px;
    height: auto;
    line-height: 1em;
    position: absolute;
    right: 4%;
    bottom: 15px;
    z-index: 101;
  }

  LABEL[for="toggle-menu"]:after {
    font-family: "FontAwesome";
    content: "\f0c9";
  }

  #toggle-menu:checked + LABEL[for="toggle-menu"]:after {
    content: "\f00d";
  }

  #toggle-menu + LABEL + UL {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: rgba(7, 22, 27, 0.9);
    margin-top: 0;
    text-align: center;
    font-size: 5vw;
    border-bottom: 10px solid #23AAE2;
    box-sizing: border-box;
  }

  #toggle-menu:checked + LABEL + UL {
    display: block;
  }

  #toggle-menu + LABEL + UL LI {
    display: block;
    margin: 0;
    padding: 0.5em 15px;
  }

  #toggle-menu + LABEL + UL > LI:first-of-type {
    margin-top: 160px;
  }

  #toggle-menu + LABEL + UL LI#menu-lookup {
    text-align: center;
    position: relative;
  }

  #toggle-menu + LABEL + UL LI A { display: block; }

  #toggle-menu + LABEL + UL LI UL {
    display: block;
    position: static;
    background: transparent;
    text-align: center;
    padding: 0;
  }

  #lookup { text-align: left; }

  .lookup-form .select-man,
  .lookup-form .select-mod,
  .lookup-form .select-ts {
    width: 29.4%;
    margin: 0 1.5%;
  }

  .find-my-part {
    position: relative;
    right: auto;
    bottom: auto;
    min-height: 0;
    font-size: 21px;
    margin: 1em auto 0;
    display: block;
  }

  #toggle-menu + LABEL + UL LI .find-part-results A { display: inline-block; }

  #home-lookup H2 { font-size: 5vw; }
}

@media only screen and (max-width: 600px) {
  HEADER .right { width: 48%; }
  HEADER .right .call { font-size: 3vw; }

  .lookup-form .select-man,
  .lookup-form .select-mod,
  .lookup-form .select-ts {
    margin: 0;
    width: 30.2%;
  }
  .lookup-form .select-mod { margin: 0 3%; }

  .find-part-results { font-size: 4vw; }

  .find-part-results > DIV { display: block; }

  .find-part-results > DIV > DIV { width: 100%; padding: 1em 0; }

  .find-part-results > DIV > DIV:first-of-type,
  .find-part-results > DIV > DIV:last-of-type {
    width: 100%;
    padding: 0;
    font-size: 200%;
  }

  .find-part-results A:link,
  .find-part-results A:visited {
    font-size: 4vw;
    padding: 0.85em 2em;
  }

  #home-lookup H2 { margin-bottom: 1.5em; }

  FOOTER .address { width: 100%; margin-bottom: 1em; }
  FOOTER .social { width: 100%; text-align: left; }

  FOOTER .social A:link,
  FOOTER .social A:visited { margin: 10px 10px 0 0; }
}

@media only screen and (max-width: 480px) {
  HEADER .right { width: 36%; }
  HEADER .right .call { font-size: 3.5vw; text-align: right; }
  HEADER .right .call SPAN { font-size: 120%; display: block; }

  .lookup-form .select-man,
  .lookup-form .select-mod,
  .lookup-form .select-ts {
    margin: 0 0 2.5em;
    width: 100%;
  }

  .find-my-part { margin-top: 0; }

  #home-hero .text { font-size: 16px; }

  #home-hero .text:before { left: 2%; }
  #home-hero .text:after { right: 2%; }

  #home-hero .text H1 { font-size: 12.8vw; }

  #home-hero .couplings > DIV { width: 100%; }

  #home-hero .couplings A:link,
  #home-hero .couplings A:visited {
    font-size: 3.5vw;
  }
}