/*
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

BODY {
  margin: 0;
  padding: 0;
  background: #123C51;
  color: #FFFFFF;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
}

IMG { border: 0; }

HR {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}

A:link, A:visited {
  color: #0000FF;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #FF0000;
  text-decoration: none;
}

.site-width {
  width: 1100px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

HEADER {
  background: #07161B;
  color: #FFFFFF;
  border-bottom: 10px solid #23AAE2;
}

.home HEADER {
  background: transparent;
  border-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.home HEADER.sticky {
  position: fixed;
  background: #07161B;
  border-bottom: 10px solid #23AAE2;
}

#waypoint-trigger.sticky { height: 190px; }

HEADER .site-width {
  width: 1130px;
  position: relative;
}

#logo {
  display: inline-block;
  height: 113px;
  margin: 23px 0 0 15px;
}

#logo IMG {
  max-height: 100%;
  width: auto;
}

HEADER .right {
  float: right;
  margin-top: 50px;
}

HEADER .right .call {
  padding-right: 15px;
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

HEADER .right .call SPAN {
  display: inline-block;
  padding-left: 0.25em;
  font-size: 187.5%;
  line-height: 1em;
  letter-spacing: 0.1em;
  color: #23AAE2;
}

HEADER .right .call SPAN A { color: #23AAE2; }

HEADER .right UL {
  margin: 1.5em 0 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

HEADER .right UL LI {
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.9em 15px;
  position: relative;
}

HEADER .right UL LI:first-of-type { margin-left: 0; }

HEADER .right UL LI A:link,
HEADER .right UL LI A:visited {
  color: #FFFFFF;
}

HEADER .right UL LI:hover > A,
HEADER .right UL LI A:hover,
HEADER .right UL LI A:active {
  color: #F9EF57;
}

HEADER .right UL LI UL {
  display: none;
  margin-top: 0;
  padding: 0.25em 15px;
  font-weight: 500;
  text-transform: none;
  position: absolute;
  top: 75%;
  left: 0;
  background: #07161B;
  text-align: left;
}

HEADER .right UL LI:hover UL {
  display: block;
}

HEADER .right UL LI UL LI {
  margin: 0.25em 0;
  padding: 0;
}

HEADER .right UL LI#menu-lookup {
  position: static;
  color: #F9EF57;
}

HEADER .right UL LI#menu-lookup.ml-active {
  background: url(../images/grid-background.png) bottom right;
}

#toggle-lookup,
#lookup { display: none; }

#toggle-lookup + LABEL { cursor: pointer; }

#lookup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  background: url(../images/grid-background.png) top right;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}

#toggle-lookup:checked + LABEL + #lookup { display: block; }

#find-part {
  margin: 55px 30px;
}

#find-part-results {
  padding: 60px 0;
  background: #FFFFFF;
  color: #8E8E8E;
  font-weight: 800;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  text-align: center;
}

#find-part-results.part-found {
  background-image: linear-gradient(115deg, #FFFFFF 50%, #8ED2EE 50%);
}

#find-part-results > DIV {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 1em;
}

#find-part-results H1 {
  margin: 0;
  color: #123C51;
  font-weight: 800;
  font-size: 72px;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-shadow: 0 0 22px rgba(0,0,0,0.38);
}

#find-part-results.part-found H1 {
  margin-top: 0.2em;
  font-size: 50px;
  line-height: 0.9em;
}

#find-part-results A:link,
#find-part-results A:visited {
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.85em 2.4em;
  background: #F9EF57;
  color: #123C51;
  font-weight: 700;
  font-size: 27.56px;
  line-height: 1em;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
}

#find-part-results A:hover,
#find-part-results A:active {
  background: #123C51;
  color: #F9EF57;
}




#home-hero {
  padding: 288px 0 144px;
  background: url(../images/home-header.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#home-hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 50%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0));
}





@media only screen and (max-width: 1100px) {
  .site-width { width: 96%; }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
}

@media only screen and (max-width: 480px) {
  /* Phone */
}